:root{
  transition: all 0.3s ease;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef2f7;
  padding: 1rem;
}

.cardWrapper {
  width: 100%;
  max-width: 400px;
}

.card {
  padding: 2rem;
  border-radius: 20px;
  background: #eef2f7;

  box-shadow:
    10px 10px 20px #d1d9e6,
    -10px -10px 20px #ffffff;
}

.title {
  text-align: center;
  color: #0f172a;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.brand {
  color: #2563eb;
  text-shadow: 0 0 6px rgba(37, 99, 235, 0.5);
}

.subBrand{
  color: #56eb25;
  text-shadow: 0 0 6px rgba(37, 235, 67, 0.5);
}

.subtitle {
  text-align: center;
  color: #64748b;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;

  background: #eef2f7;
  color: #0f172a;

  box-shadow:
    inset 4px 4px 8px #d1d9e6,
    inset -4px -4px 8px #ffffff;

  transition: all 0.2s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus {
  box-shadow:
    inset 2px 2px 6px #d1d9e6,
    inset -2px -2px 6px #ffffff,
    0 0 6px rgba(37, 99, 235, 0.4);
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;

  background: #eef2f7;
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;

  box-shadow:
    6px 6px 12px #d1d9e6,
    -6px -6px 12px #ffffff;

  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.03);

  box-shadow:
    4px 4px 10px #d1d9e6,
    -4px -4px 10px #ffffff,
    0 0 8px rgba(37, 99, 235, 0.5);
}

.button:active {
  transform: scale(0.97);

  box-shadow:
    inset 4px 4px 8px #d1d9e6,
    inset -4px -4px 8px #ffffff;
}

.switchText {
  text-align: center;
  margin-top: 1rem;
  color: #64748b;
  font-size: 0.85rem;
}

.switchLink {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.switchLink:hover {
  text-shadow: 0 0 6px rgba(37, 99, 235, 0.4);
}